# 为所有文本文件强制使用CRLF换行符
* text eol=crlf

# 处理Qt的项目文件
*.pro text eol=crlf
*.pri text eol=crlf

# 处理C++源文件
*.cpp text eol=crlf
*.h text eol=crlf

# 处理其他文本文件，如README或LICENSE
*.txt text eol=crlf
*.md text eol=crlf
